flows2.json
{"id":"44148cd0.6ff024","type":"subflow","name":"Debug Custom","info":"","category":"","in":[{"x":260,"y":380,"wires":[{"id":"f5d49f4e.6dcb6"}]}],"out":[],"env":[{"name":"type","type":"str","value":"aucun","ui":{"icon":"font-awesome/fa-angle-double-right","label":{"en-US":"Type"},"type":"select","opts":{"opts":[{"l":{"en-US":"aucun"},"v":"aucun"},{"l":{"en-US":"mail"},"v":"mail"},{"l":{"en-US":"file"},"v":"file"},{"l":{"en-US":"tous"},"v":"tous"},{"l":{"en-US":"console"},"v":"console"}]}}}],"color":"#F3B567","icon":"node-red/debug.svg","configs":[],"nodes":[{"id":"ba44049e.80e488","type":"debug","z":"44148cd0.6ff024","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":240,"wires":[]},{"id":"96b69f82.7b4a","type":"e-mail","z":"44148cd0.6ff024","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"kenny.autres@gmail.com","dname":"Send mail","x":1020,"y":360,"wires":[]},{"id":"f2f1ff52.5dc27","type":"change","z":"44148cd0.6ff024","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Notif Node red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":360,"wires":[["96b69f82.7b4a"]]},{"id":"f5d49f4e.6dcb6","type":"switch","z":"44148cd0.6ff024","name":"","property":"type","propertyType":"env","rules":[{"t":"eq","v":"console","vt":"str"},{"t":"eq","v":"mail","vt":"str"},{"t":"eq","v":"file","vt":"str"},{"t":"eq","v":"tous","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":390,"y":380,"wires":[["ba44049e.80e488"],["f2f1ff52.5dc27"],["b3afd6d7.820f68"],["f2f1ff52.5dc27","ba44049e.80e488","b3afd6d7.820f68"]]},{"id":"602ea46d.65e61c","type":"file","z":"44148cd0.6ff024","name":"","filename":"/config/node-red/trace-nodered.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1000,"y":480,"wires":[[]]},{"id":"b3afd6d7.820f68","type":"change","z":"44148cd0.6ff024","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t\"timestamp\":$moment().format(),\t\"data\":$.payload\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":480,"wires":[["602ea46d.65e61c"]]}]}