flows.json
{"id":"3f067bb0.be5694","type":"subflow","name":"Get Flow Git","info":"","category":"","in":[{"x":100,"y":140,"wires":[{"id":"59900f73.e0b81"}]}],"out":[],"env":[{"name":"Url Git","type":"str","value":""}],"color":"#DDAA99","configs":[],"nodes":[{"id":"348c014c.f37e1e","type":"function","z":"3f067bb0.be5694","name":"Param http","func":"msg.method = 'POST' ; // add flow if flow_id not exist\nmsg.url = 'http://'+msg.user_nr+':'+msg.password_nr+'@localhost:1880/flow' ;\n\nif(msg.flow_id != undefined ){\n    msg.method = 'PUT' ;  // update flow  \n    msg.url += '/'+ msg.flow_id ;\n}\n\nmsg.payload = msg.content;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":320,"wires":[["551a1f75.346cd","c6626e56.a1fe"]]},{"id":"59900f73.e0b81","type":"change","z":"3f067bb0.be5694","name":"Param into msg","rules":[{"t":"set","p":"flow_git","pt":"msg","to":"Url Git","tot":"env"},{"t":"set","p":"flow_name","pt":"msg","to":"Flow Name","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":140,"wires":[["9d44e71c.3e4198"]]},{"id":"ec64fef6.600af","type":"http request","z":"3f067bb0.be5694","name":"get list Flows","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://{{user_nr}}:{{password_nr}}@localhost:1880/flows","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":320,"wires":[["f5eb4de7.ebba6"]]},{"id":"f5eb4de7.ebba6","type":"function","z":"3f067bb0.be5694","name":"search ID of Flows","func":"msg.flow_id = undefined ;\n\nmsg.payload.forEach( (f) => {\n    if(f.label===msg.flow_name){\n        msg.flow_id = f.id;\n    }\n});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":320,"wires":[["348c014c.f37e1e"]]},{"id":"551a1f75.346cd","type":"http request","z":"3f067bb0.be5694","name":"Create Or update Flow","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":960,"y":340,"wires":[["c6626e56.a1fe"]]},{"id":"c6626e56.a1fe","type":"debug","z":"3f067bb0.be5694","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":520,"wires":[]},{"id":"1dd78489.33628b","type":"http request","z":"3f067bb0.be5694","name":"get Flow of git","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":620,"y":140,"wires":[["f18ec939.381c68"]]},{"id":"9d44e71c.3e4198","type":"change","z":"3f067bb0.be5694","name":"Url Git","rules":[{"t":"set","p":"url","pt":"msg","to":"flow_git","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":140,"wires":[["1dd78489.33628b"]]},{"id":"f18ec939.381c68","type":"function","z":"3f067bb0.be5694","name":"params","func":"msg.content = msg.payload;\nmsg.content.id=undefined ;\nmsg.flow_name = msg.content.label ; \n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":140,"wires":[["ec64fef6.600af"]]}]}