flows.json
{"id":"fb53a511.d32248","label":"Flow 2","disabled":false,"info":"","nodes":[{"id":"cf557c28.9cd8c","type":"inject","z":"fb53a511.d32248","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":160,"wires":[["bf414f9c.02589"]]},{"id":"bf414f9c.02589","type":"function","z":"fb53a511.d32248","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":160,"wires":[["40340085.c2dca"]]},{"id":"40340085.c2dca","type":"debug","z":"fb53a511.d32248","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":160,"wires":[]}]}