flows.json
{"id":"181818d1.7111e7","label":"FlowToExport","disabled":false,"info":"","nodes":[{"id":"3f76c74d.03f578","type":"inject","z":"181818d1.7111e7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":300,"wires":[["b6b50117.c19e5"]]},{"id":"b6b50117.c19e5","type":"debug","z":"181818d1.7111e7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":280,"wires":[]},{"id":"430a9bdb.680434","type":"inject","z":"181818d1.7111e7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":460,"wires":[[]]}]}